<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">logs_oplot/</Property>
    </Properties>
    <Appenders>
        <!-- Rolling File Appender -->
        <RollingFile name="fileLog" fileName="${log-path}/log.log"
                     filePattern="${log-path}/log-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>


        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{HH:mm:ss.SSS} %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <logger name="rest" level="INFO" additivity="false">
            <AppenderRef ref="fileLog" />
        </logger>
        <Logger name="service" level="INFO" additivity="false">
            <AppenderRef ref="fileLog"/>
        </Logger>

        <Root  level="DEBUG">
            <AppenderRef ref="STDOUT" />
        </Root>

    </Loggers>
</Configuration>